
.App {
  padding: 0;
}
.mainContent{
  /* background: rgb(5, 2, 2); */
}
li#spfx {
  background: #a4262c;
}
li#powerApps {
  background: #732A73;
}

li#powerAuto {
  background: #4052a3;
}
li#sharePoint {
  background: #038387;
}
li#web {
  background: #747480;
}
a.nav-link {
  color: #fff;
  transition: .4s;
}
a.nav-link:hover{
  color: #fff;
  text-decoration: underline;
  text-decoration-color: aliceblue;
  text-decoration-line: overline;

}
/* a.nav-link.active {
  color: rgb(233, 255, 89) !important;
  transition: .4s;
} */
li.nav-item{
  /* min-width: 150px; */
  /* border-radius: 50px; */
  border-right: 10px solid #fff;
  border-radius: 0 20px;
  transition: .4s;
  box-shadow: 5px 5px 20px #948e94;
  margin-left: 10px;
}
li.nav-item:hover{
  transform: translateY(10px)
}
h1.title{
  font-size: 90px;
  font-family: 'Dancing Script', cursive;
}
p.des{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
/* skills */
.roundShape{
 
}

.roundShape p{
  /* background: rgb(2, 71, 175); */
  animation: col 5s infinite ;
  /* height: 90px; */
  /* width: 90px; */
  /* border-radius: 0px 90px 100px 80px; */
  /* color: #fff; */
  /* border:1px solid rgb(198, 196, 196); */
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
  border-right: 2px solid gray;
  /* box-shadow: 5px 10px 10px 2px rgb(198, 196, 196); */
}