
.App {
  padding: 0;
}
li#spfx {
  background: #a4262c;
}
li#powerApps {
  background: #732A73;
}

li#powerAuto {
  background: #4052a3;
}
li#sharePoint {
  background: #038387;
}
li#web {
  background: #747480;
}
a.nav-link {
  color: #fff;
  transition: .4s;
}
a.nav-link:hover{
  color: #fff;
  text-decoration: underline;
  text-decoration-color: aliceblue;
  text-decoration-line: overline;

}
/* a.nav-link.active {
  color: rgb(233, 255, 89) !important;
  transition: .4s;
} */
li.nav-item{
  /* min-width: 150px; */
  /* border-radius: 50px; */
  border-right: 10px solid #fff;
  border-radius: 0 20px;
  transition: .4s;
  box-shadow: 5px 5px 20px #948e94;
  margin-left: 10px;
}
li.nav-item:hover{
  transform: translateY(10px)
}

